<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Tarefa</title>
    <link rel="stylesheet" href="static/css/style_atualizar.css">
</head>
<body>

<header>
    <h1>Sistema de Tarefas</h1>
        <nav>
            <ul>
                <li> <a  href="{{url_for('login')}}">Login</a><a href="#"></a></li>
                <li><a  href="{{url_for('register')}}">Cadastro</a><li>
                <li><a  href="{{url_for('criar_tarefa')}}">Criar Tarefa</a><li>
                <li><a  href="{{url_for('atualizar_tarefa')}}">Atualizar Tarefa</a><li></li>
                <li><a  href="{{url_for('listar_tarefa')}}">Listar Tarefa</a><li></li>
                
            </ul>
        </nav>
</header>

<main>
    <div class="task-container">
        <h2>Editar Tarefa</h2>
        <form class="task-form">
            <label for="nome">Nome da Tarefa</label>
            <textarea id="nome" name="nome" rows="2" placeholder="Digite o nome da tarefa..."></textarea>
                 
            <label for="descricao">Descrição da Tarefa</label>
            <textarea id="descricao" name="descricao" rows="4" placeholder="Digite a descrição da tarefa..."></textarea>

            <label for="status">Status</label>
            <select id="status" name="status">
                <option value="">Selecione uma opção</option>
                <option value="pendente">Pendente</option>
                <option value="em_progresso">Em Progresso</option>
                <option value="concluida">Concluída</option>
            </select>

            <label for="prazo">Prazo de Conclusão</label>
            <input type="date" id="prazo" name="prazo">

            <!-- Centralização do botão -->
            <div class="button-container">
                <button type="submit">Atualizar</button>
            </div>
        </form>
    </div>
</main>

<footer>
    <p>Todos os direitos reservados &copy; 2024</p>
</footer>

</body>
</html>
