<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Tarefas</title>
    <link rel="stylesheet" href="static/css/style_index.css">
</head>
<body>
    <header>
        <h1>Sistema de Tarefas</h1>
        <nav>
            <ul>
                <li> <a  href="{{url_for('login')}}">Login</a><a href="#"></a></li>
                <li><a  href="{{url_for('register')}}">Cadastro</a><li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="intro">
            <h2>Organize suas tarefas com facilidade</h2>
            <p>Nosso sistema de tarefas ajuda você a se manter produtivo e organizado.</p>
            <p>  <p id="funcao"> Funções do sistema</p>
                <nav>
                 <ul id="lista_tarefa">
                    <li>Criar Tarefas</a></li>
                    <li>Listar Tarefas<li>
                    <li>Atualizar Tarefas</li>
                    <li>Deletar Tarefa</li>
                 </ul>
                </nav>
            </p>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 - Sistema de Tarefas. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
