<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Tarefas</title>
    <link rel="stylesheet" href="static/css/style_listar.css">
</head>
<body>

<header>
    <h1>Sistema de Tarefas</h1>
        <nav>
            <ul>
                <li> <a  href="{{url_for('login')}}">Login</a><a href="#"></a></li>
                <li><a  href="{{url_for('register')}}">Cadastro</a><li>
                <li><a  href="{{url_for('criar_tarefa')}}">Criar Tarefa</a><li>
                <li><a  href="{{url_for('atualizar_tarefa')}}">Atualizar Tarefa</a><li></li>
                <li><a  href="{{url_for('listar_tarefa')}}">Listar Tarefa</a><li></li>
                
            </ul>
        </nav>
</header>
<main>
  <p>Conteudo: será colocado dps que criar função listar</p>
</main>

<footer>
    <p>Todos os direitos reservados &copy; 2024</p>
</footer>


</body>
</html>

