@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    background-color: #512da8;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 28px;
    font-weight: 600;
    margin-left: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right:100px ;


}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

.intro {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.intro h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #512da8;
}

.intro p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
#lista_tarefa{ 
    font-size: 15px;
    margin-left: 90px;
}
#funcao{
    font-size: 17px;
    margin-bottom: 20px;
    color: #512da8;
}


button {
    background-color: #512da8;
    color: #fff;
    font-size: 14px;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5c6bc0;
}

footer {
    background-color: #512da8;
    color: #fff;
    padding: 15px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    font-size: 12px;
}
